-provide(:title, 'Welcome to the Walk30 Project!')
.container-narrow
	.jumbotron.hero-unit
		%h1 The Walk30 Project
		%h3 Join us in walking just 30 minutes a day, 
		%h3 for a healthier, happier you!
		= link_to "Click Here To Join Today!", signup_path, class: "btn btn-large btn-primary"
		
	%hr
	
	.row-fluid.marketing
		.span6
			%h4 Why?
			%p	
				We sit too much and it shows. Obesity in America is at an all-time high. 
				Diabetes is more and more common. Cardiovascular disease is still the 
				leading cause of death. That's the bad news. 
				The good news is that moderate exercise is 
				one of the most effective ways to prevent many of these chronic conditions. 
				We'd be significantly healthier if we each walked just 30 minutes a day.
		.span6
			
			%h4 What?
			%p 
				We want everyone to find time for a daily walk, but 
				know that exercise plans sometimes fall by the wayside.
				Each day, we'll send you a "Walk30!" text message, encouraging you to step 
				out for a short walk. 
				By responding to these messages, you can help us find the best times for your 
				daily reminder 
				and let us know that you're part of a community that's committed to better health.

			
