-provide(:title, 'Instructions')
.container-narrow
	%h3 How it works
	%p	
		You'll get a text message every day, serving as a reminder to walk 30 minutes.
		If you get out and walk, just respond "yes" to the message. If you don't, respond
		"no", and we'll try again tomorrow. If you forget to respond, we'll send you another
		text later in the evening to confirm whether you walked.
	
	%p
	%p
	%h3 What if I don't want to participate anymore?
	%p 	
		Easy! Just text "quit" to our message, and we won't bother you anymore. Or you can
		also 
		=link_to "contact us", contact_path
		and let us know you're done, and we'll remove you from the participant list.
		
	%h3 What's the ultimate goal?
	%p
		Well, ultimately we want you to get out a walk! Healthy habits make a healthy life,
		so have fun with this.