-provide(:title, 'Welcome!')
.container-narrow
	.jumbotron.hero-unit
		%h2 Welcome To The Walk30 Project!
		%h3 Like us on Facebook and share with your friends!
		.fb-like{:data=>{:href => "https://www.walk-30.com", :send => "true", :width => "450", :show_faces => "false"}}

.container-narrow
	%h3 How it works
	%p	
		We'll send you a text message each day, which will remind you to go for a short walk.
		If the reminder comes at a good time, let us know by replying "yes". 
		If the reminder comes at a bad time, let us know by replying "no". We'll
		try to send reminders at convenient times. Let us know how we're doing!
	
	%p
	%p
	%h3 What if I don't want to participate anymore?
	%p 	
		Easy! Just reply "quit" to one of message, and we won't bother you anymore. You can
		also 
		=link_to "contact us", contact_path
		via email to let us know you're done. 
		
	%h3 What's the ultimate goal?
	%p
		Our goal is to help people to stay active. 
		We think that daily reminders might help people be more consistent with their
		exercise routines. We're using the Walk30 Project as a way to test this idea,
		and to help us discover the most effective and minimally intrusive
		ways to motivate people like you.