-if message.pending?
	=link_to "deliver", deliver_message_path(message), :method => :put 
	=link_to "cancel", cancel_message_path(message), :method => :put
	=link_to "delete", message, :method => :delete
-if message.delivered? or message.received?
	Flag: 
	- if message.flagNegative? 
		"negative" 
	-else
		=link_to "negative", flagNegative_message_path(message), :method => :put  
	- if message.flagNeutral? 
		"neutral" 
	-else
		=link_to "neutral", flagNeutral_message_path(message), :method => :put  
	- if message.flagPositive? 
		= "positive" 
	-else
		=link_to "positive", flagPositive_message_path(message), :method => :put  
