=form_for message do |m|
	=m.label :content
	=m.text_area :content, :rows=>3
	=m.label :medium
	=m.select :medium, options_for_select([["TEST Message",Message::TEST],["TEXT Message",Message::TEXT]])
	=m.label :scheduled_at
	=m.number_field :scheduled_at 
	%p
	=m.submit
	
