-provide(:title, 'Active Participants')

%h2.offset3 
	All Pending Messages:
	=link_to "Cancel Only", cancel_pending_messages_path, :method => :put
	,
	=link_to "Cancel+Delete", cancel_pending_messages_path(:delete=>true), :method => :put
	%p
	All Daily Reminders:
	=link_to "Autoflag Received", autoflag_messages_path(:type=>"DailyReminderMessage"), :method => :put
	%p
	All Active Participants:
	=link_to "Schedule Next Reminder", setNextReminders_participants_path, :method => :put	
		
%h1 Active Participants Only

=will_paginate

%table{:cellspacing => "5"}
	=render "/participants/active_participant_table", :header=>true
	-@participants.each do |participant|
		-#messages = participant.messagesUnflaggedOrChangedWithinNSeconds(16*3600).sort_by{|message| message.id}
		-messages = participant.messages.select {|m| m.secondsSinceLastUpdate < @message_window_in_days*24*60*60}
		=render "/participants/active_participant_table", :participant=>participant, :messages=>messages
	