-provide(:title, 'All Participants')
%h1 All Participants

=will_paginate


%table{:cellspacing => "5"}
    %thead
        %th ID
        %th STATUS
        %th Days in STATUS
        %th EMAIL
        %th PHONE
        %th Messages Delivered
        %th Messages Received
        %th Messages Pending
		
    %tbody
        =render :partial => "participant", :collection => @participants, :as => :participant


