<div class="masthead">	
		<ul class="nav nav-pills pull-right">
			<li><%= link_to "Home", root_path %></li>
        	<li><%= link_to "Contact", contact_path %></li>
		</ul>	
	<h2 class="muted">Walk30</h2>
</div>

